@charset "UTF-8";

html, body{
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Helvetica Neue','Helvetica','Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
  letter-spacing: 0.2em;
  background-color: #000000;
  /* background-image: linear-gradient(45deg, #000000 0%, #111111 100%); */
  color: #ffffff;
}



.triangle{
  width: 500px;
   height: 500px;
   margin-right: 75%;
   margin-left: 25%;
   margin-top: 0;
   margin-bottom: 0;
   background: linear-gradient(45deg, transparent 50%, #fa71cd 50%, #c471f5 100%);
   transform: rotate(90deg);
   opacity: 0.8;
}



.camera{
  width:100px;
  height: 100px;
  position: absolute;
  top: 55%;
  margin-left: 45%;
  margin-right: 55%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.camera:hover{
  -webkit-transform: scale(2.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(2.1);
}

h1{
  text-align: center;
  margin-bottom: -4%;
  margin-top: -2%;
}

.description{
  text-align: center;
  font-size: 16px;
}

.usage{
  width: 1000px;
  height:200px;
  margin: 0 auto;
}
