@charset "UTF-8";

html, body{
  width: 100%;
  height: 100%;
}
body {
  /* font-family: 'Helvetica Neue','Helvetica','Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif; */
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  letter-spacing: 0.2em;
  /* background-image: linear-gradient(45deg, #000000 0%, #111111 100%); */
  color: #ffffff;
  background-color: #000000;
  position: relative;
}

#particles-js{
  width: 100%;
  height: 100%;
}

.particles-js-canval-el{
  position: relative;
}

.triangle{
  width: 500px;
   height: 500px;

   margin-top: 0;
   margin-bottom: 0;
   background: linear-gradient(135deg, transparent 50%, #fa71cd 50%, #c471f5 100%);
   opacity: 0.9;
   position: absolute;
   top:50%;
   left:45%;
   transform : translate(-50%, -50%);
}

.camera{
  width:100px;
  height: 100px;
  position: absolute;
  top: 55%;
  margin-left: 45%;
  margin-right: 55%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.camera:hover{
  -webkit-transform: scale(2.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(2.1);
}

h1{
  text-align: center;
  position: absolute;
  top: -2%;
  left: 50%;
  transform : translate(-50%);
  letter-spacing: 0.2em;
  font-size: 48px;
}

.logo{
  zoom: 1.1;
}


.description{
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform : translate(-50%);
}

.usage{
  width: 1000px;
  height:200px;
  margin: 0 auto;
}



@media screen and (max-width: 480px){

  body{
    position: relative;
  }

.triangle{
  width: 300px;
   height: 300px;
   position: absolute;
   top:50%;
   left:45%;
}

h1{
  text-align: center;
  position: absolute;
  top: 2%;
  left: 50%;
  transform : translate(-50%);
  letter-spacing: 0.2em;
  font-size: 32px;
  width: 100%;
}

.description{
  text-align: center;
  font-size: 12px;
  position: absolute;
  top: 13%;
  left: 50%;
  transform : translate(-50%);
  width: 100%;
}



}
